include ../helpers/mixins

block variables

doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="static/css/styles.css")
    link(type="image/png" sizes="32x32" rel="icon" href="static/img/common/favicon.png")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap" rel="stylesheet")
    title #{title}
  body
    .wrapper
      include ../modules/header/header
      .content
        block content
      include ../modules/footer/footer

    script(src="static/js/vendors/libs.min.js")
    script(src="static/js/main.js")
    block scripts
