footer
  .container
    .footer
      ul.socials
        li.social
          a(href="...").social__link
            +icon('fb')

        li.social
          a(href="...").social__link
            +icon('tw')

        li.social
          a(href="...").social__link
            +icon('ig')
